# The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://docs.github.com/about-codeowners
# https://git-scm.com/docs/gitignore

# Site Policy
/site-policy/ @github/site-policy-admins

# Enterprise
/data/release-notes/github/docs-enterprise
/ghes-releases/lib/enterprise-github/docs-enterprise

# Requires review of #actions-integration, docs-engineering
# Actions/deployment/security-deployments

# RAI - CELA
data/reusables/github/legal-product
